<div class="footer glasscard">
  <div class="div-block-131">
    <div class="footer-flex-container-2">
      <a href="#" class="footer-logo-link w-inline-block">
        <img
          src="/assets/logo.svg"
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 100px, 130px"
          srcset="
                                /assets/logo.svg   500w,
                                /assets/logo.svg   800w,
                                /assets/logo.svg 1080w,
                                /assets/logo.svg        1504w
                            "
          alt=""
          class="footer-image-2"
        />
      </a>
      <div class="div-block-130">
        <h2 class="footer-heading-2">Browse</h2>
        <ul role="list" class="w-list-unstyled">
          <li class="list-item"><a href="index.html" aria-current="page" class="footer-link-2 w--current">Home</a></li>
          <li>
            <a routerLink="/how-to-buy" class="footer-link-2">How to buy</a>
            <a href="https://exchange.pancakeswap.finance/#/swap?outputCurrency=0xa760fd92bafb80dd5a1a5bb5d2bb1a61230e057a" target="_blank" class="footer-link-2">Buy now</a>
          </li>
        </ul>
      </div>
      <div>
        <h2 class="footer-heading-2">Important</h2>
        <ul role="list" class="list w-list-unstyled">
          <li>
            <a href="https://bscscan.com/token/0xa760fd92bafb80dd5a1a5bb5d2bb1a61230e057a" target="_blank" class="footer-link-2">Contract 📝</a>

            <a href="https://poocoin.app/tokens/0xa760fd92bafb80dd5a1a5bb5d2bb1a61230e057a" target="_blank" class="footer-link-2">Chart 📈</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="text-block-18">Copyright © 2022 SAPA Token. All rights reserved.</div>
  </div>
</div>
<div class="div-block-4"></div>
<div class="topbar-2">
  <div class="top-bar-wrapper-2">
    <div class="socials-wrap">
      <a href="https://twitter.com/Sapa_Finance" target="_blank" class="link-block-3 w-inline-block">
        <img src="https://uploads-ssl.webflow.com/609200e5f1f70a5699a8f30f/609713427e40e23b85bc727b_twitter-icon.svg" loading="lazy" width="30" alt="" class="twt-2" />
      </a>
      <a href="https://t.me/sapafinance" target="_blank" class="link-block-4 w-inline-block">
        <img src="https://uploads-ssl.webflow.com/609200e5f1f70a5699a8f30f/609716be012ab2cfd95dfab1_telegram-icon.svg" loading="lazy" width="30" alt="" class="ig-2" />
      </a>
    </div>
  </div>
</div>
