<div class="div-block-4"></div>
<div data-collapse="medium" data-animation="default" data-duration="400" data-w-id="4d008856-22a6-57cb-2792-3ecce65f2c1c" role="banner" class="navbar glasscard w-nav">
  <div class="topbar">
    <div class="top-bar-wrapper">
      <div class="text-block-6">Lorem ipsum</div>
      <div class="socials-wrap">
        <img src="https://uploads-ssl.webflow.com/609200e5f1f70a5699a8f30f/6092a5296a9dbd4b7b915c1b_fb-icon.png" loading="lazy" alt="" class="fb" />
        <img src="https://uploads-ssl.webflow.com/609200e5f1f70a5699a8f30f/6092a52919f6a3082b749c39_discord-icon.png" loading="lazy" alt="" class="dsc" />
        <img src="https://uploads-ssl.webflow.com/609200e5f1f70a5699a8f30f/6092a5298f593684b5218e56_ig-icon.png" loading="lazy" alt="" class="ig" />
        <img src="https://uploads-ssl.webflow.com/609200e5f1f70a5699a8f30f/6092a529f05f6b1638a1a036_twitter-icon.png" loading="lazy" alt="" class="twt" />
        <img src="https://uploads-ssl.webflow.com/609200e5f1f70a5699a8f30f/6092a52ae3578696f9c60cd4_yt-icon.png" loading="lazy" alt="" class="yt" />
      </div>
    </div>
  </div>
  <div class="container-2 w-container">
    <a href="/" aria-current="page" class="link-block w-inline-block w--current">
      <img
        src="/assets/logo.svg"
        loading="lazy"
        sizes="130px"
        srcset="
                           /assets/logo.svg   500w,
                            /assets/logo.svg   800w,
                           /assets/logo.svg 1080w,
                            /assets/logo.svg        1504w
                        "
        alt=""
        class="image-6"
      />
    </a>
    <app-nav></app-nav>
    <div class="menu-button w-nav-button"><div class="w-icon-nav-menu"></div></div>
  </div>
</div>
