<div id="hero" class="hero">
  <div data-w-id="82b8ab1d-dfef-445f-7740-4109bac852e3" class="hero-wrapper">
    <div class="hero-left">
      <h1 class="hero-title">Wiki cat token</h1>
      <p class="hero-description">
        Sapa is the next 10,000x community driven token. We have our LPs locked and Ownership renounced! We are creating a movement to end poverty and reduce the impact of instability, through charitable initiatives.
      </p>
      <div class="hero-button-wrap">
        <a data-w-id="bcbcd5ce-641c-ba62-724e-0494fc974797" href="https://exchange.pancakeswap.finance/#/swap?outputCurrency=0xa760fd92bafb80dd5a1a5bb5d2bb1a61230e057a" class="cta-btn gradient w-inline-block">
          <img
            src="https://uploads-ssl.webflow.com/609200e5f1f70a5699a8f30f/6095daaf363b03298fc7b5e1_buynowicon.svg"
            loading="lazy"
            style="
                                    -webkit-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                    -moz-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                    -ms-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                    transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                    opacity: 1;
                                "
            alt=""
            class="cta-icon-buynow"
          />
          <div
            style="
                                    -webkit-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                    -moz-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                    -ms-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                    transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                "
            class="cta-text"
          >
            Buy Now
          </div>
        </a>
        <a data-w-id="079429a8-b644-088d-3b1c-b842048a15c9" href="https://t.me/sapafinance" class="cta-btn cta-discord glasscard w-inline-block">
          <img
            src="https://uploads-ssl.webflow.com/609200e5f1f70a5699a8f30f/609716be012ab2cfd95dfab1_telegram-icon.svg"
            loading="lazy"
            style="
                                    -webkit-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                    -moz-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                    -ms-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                    transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                    opacity: 1;
                                "
            alt=""
            class="cta-btn-discord"
          />
          <div
            style="
                                    -webkit-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                    -moz-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                    -ms-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                    transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                "
            class="cta-text"
          >
            Join our Telegram
          </div>
        </a>
      </div>
    </div>
    <div data-w-id="d610fcf5-bc87-30e0-e3a5-03a5a68ec89f" class="hero-right-2">
      <img src="assets/wikicat-anim.gif">
      <!--                    <video src="assets/sapa-animated.webm" autoplay preload="auto" loop></video>-->
    </div>
  </div>
</div>
<div id="features" class="features">
  <div class="section-wrapper">
    <h1 class="section-title">Features</h1>
    <div class="horizontal-row">
      <div data-w-id="590b811d-b347-c323-d1bc-24f6ad698eeb" class="card glasscard">
        <div class="card-top">
          <img src="assets/bolt.svg" loading="lazy" alt="" class="image-8" />
          <h1 class="feature-title">Fair Launch</h1>
        </div>
        <div class="card-description">
          We launched for everyone, making all tokens available. Our SAPA token is available for everyone on PancakeSwap V2.


        </div>
      </div>
      <div data-w-id="e2df0bbd-77ed-0e52-126e-1aba16727b4e" class="card glasscard">
        <div class="card-top">
          <img src="assets/bolt.svg" loading="lazy" alt="" class="image-8" />
          <h1 class="feature-title">Liquidity 🔒</h1>
        </div>
        <div class="card-description">
          The liquidity pool is currently locked (<strong>100%</strong>) for <strong>6 months</strong> to begin. As time goes on, extended locking periods will be announced. Ownership will also be renounced.
        </div>
      </div>
      <div data-w-id="40384513-7486-f314-2e23-677fe36bbc46" class="card glasscard">
        <div class="card-top">
          <img src="assets/bolt.svg" loading="lazy" alt="" class="image-8" />
          <h1 class="feature-title">Community Driven</h1>
        </div>
        <div class="card-description">
          We have a strong community, born ready to fight against poverty.
        </div>
      </div>
    </div>
  </div>
</div>
<div id="tokenomics" class="tokenomics">
  <div class="section-wrapper">
    <h1 class="section-title">Tokenomics</h1>
    <div class="horizontal-row">
      <div data-w-id="57b5be93-3b51-4060-b8f8-869619b3a7ec" class="card glasscard">
        <div class="card-top">
          <img src="assets/material-storage.svg" loading="lazy" alt="" class="image-8" />
          <h1 class="feature-title">Initial Supply<br /></h1>
        </div>
        <div class="card-description">

          2,500,000,000,000,000 tokens has been released for initial public sale
        </div>
      </div>

      <div data-w-id="57b5be93-3b51-4060-b8f8-869619b3a7fa" class="card glasscard">
        <div class="card-top">
          <img src="assets/simple-googleanalytics.svg" loading="lazy" alt="" class="image-8" />
          <h1 class="feature-title">Project Funds Wallet</h1>
        </div>
        <div class="card-description">
          <span class="boldtext">5%</span> of the initial supply reserved for marketing/charity/community funds<br />
          <br />
          There will be no coins distributed to team members/investors or any early team dumping. <br />
        </div>
      </div>
    </div>
  </div>
</div>
<section id="roadmap" class="roadmap">
  <div class="container w-container">
    <div class="content-block">
      <div class="steps-clone">
        <h1 class="section-title roadmap-title">Roadmap</h1>
        <div class="div-block">
          <div class="div-block-2">
            <div class="text-block-4">
              <strong class="bold-text-4">Note</strong>: We are determined to follow through each project listed, within their given timeframes.
            </div>
          </div>
        </div>
        <div class="step-block">
          <div class="dot"></div>
          <div class="content-wrap">
            <div class="step-content-block">
              <div class="step glasscard">
                <div class="text-block-3">
                  <div class="label">Early stages</div>
                  <div class="content">
                    <div class="heading">
                      <br />
                      <strong>The beginning...</strong>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Coin backend &amp; tokenomics implemented</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Social medias setup</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Liquidity investors acquired</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Minor marketing campaign</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Updated website design</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-shadow"></div>
            </div>
          </div>
        </div>
        <div class="step-block">
          <div class="scoll-wrap">
            <div class="scroll-animate"></div>
            <div class="scroll-base"></div>
          </div>
          <div class="content-wrap">
            <div class="step-content-block">
              <div class="step glasscard">
                <div class="text-block-3">
                  <div class="label">
                    Q1<br />
                    June
                  </div>
                  <div class="content">
                    <div class="heading"><strong class="bold-text-5">Launch</strong></div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Successful launch</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Refine community platforms &amp; social media</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Social media promotions from influencers</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Establish moderation team for social media</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Community giveaway contests</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5"><strong>SAPA</strong> Merch designing &amp; production</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Expand core marketing/management team</div>
                    </div>

                    <div class="div-block-3 longtext">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">
                        Strong focus on community growth &amp; <br />
                        development
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dot"></div>
        </div>
        <div class="step-block">
          <div class="dot"></div>
          <div class="content-wrap">
            <div class="step-content-block">
              <div class="step glasscard">
                <div class="text-block-3">
                  <div class="label">
                    Q2<br />
                    July
                  </div>
                  <div class="content">
                    <div class="heading"><strong>Powered ascent</strong></div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Initial listing talks &amp; funding</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Smart contract audit</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Application for CMC Listing</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Application for CoinGecko Listing</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5"><strong>SAPA</strong> hunger virtual NFT marketplace</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5"><strong>SAPA</strong> Merch launch</div>
                    </div>
                    <div class="div-block-3 longtext">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Social Media influencer campaigns</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-shadow"></div>
            </div>
          </div>
          <div class="scoll-wrap">
            <div class="scroll-animate"></div>
            <div class="scroll-base"></div>
          </div>
        </div>
        <div class="step-block">
          <div class="scoll-wrap">
            <div class="scroll-animate"></div>
            <div class="scroll-base"></div>
          </div>
          <div class="content-wrap">
            <div class="step-content-block">
              <div class="step glasscard">
                <div class="text-block-3">
                  <div class="label">
                    Q3<br />
                    August
                  </div>
                  <div class="content">
                    <div class="heading"><strong>Staging</strong></div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Listing on several different exchanges</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Further strategic marketing campaigns</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5"><strong>SAPA</strong> virtual marketplace idea presented</div>
                    </div>

                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5"><strong>SAPA </strong>partnership talks</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">
                        <div class="text-block-5">
                          Charity events planned &amp; voted on by the<br />
                          community
                        </div>
                      </div>
                    </div>
                    <div class="div-block-3 longtext">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Preparation for Roadmap upgrade <a href="https://emojipedia.org/eyes/">👀</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-shadow"></div>
            </div>
          </div>
          <div class="dot"></div>
        </div>
      </div>
    </div>
  </div>
</section>
