<div id="hero" class="hero">
  <div data-w-id="82b8ab1d-dfef-445f-7740-4109bac852e3" class="hero-wrapper">
    <div class="hero-left">
      <h1 class="hero-title">Wiki cat token</h1>
      <p class="hero-description">
        Wiki Cat is a smart deflationary token forked on the BSC network with 1% slippage, total supply of 968T, 100% ownership renounced and Liquidity pool locked forever. 31T Wiki Cat Token have been burnt so far.
      </p>
      <div class="hero-button-wrap">
        <a data-w-id="bcbcd5ce-641c-ba62-724e-0494fc974797" href="{{pancakeSwap}}" class="cta-btn gradient w-inline-block">
          <img
            src="https://uploads-ssl.webflow.com/609200e5f1f70a5699a8f30f/6095daaf363b03298fc7b5e1_buynowicon.svg"
            loading="lazy"
            style="
                                    -webkit-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                    -moz-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                    -ms-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                    transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                    opacity: 1;
                                "
            alt=""
            class="cta-icon-buynow"
          />
          <div
            style="
                                    -webkit-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                    -moz-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                    -ms-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                    transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                "
            class="cta-text"
          >
            Buy Now
          </div>
        </a>
        <a data-w-id="079429a8-b644-088d-3b1c-b842048a15c9" href="{{telegram}}" class="cta-btn cta-discord glasscard w-inline-block">
          <img
            src="https://uploads-ssl.webflow.com/609200e5f1f70a5699a8f30f/609716be012ab2cfd95dfab1_telegram-icon.svg"
            loading="lazy"
            style="
                                    -webkit-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                    -moz-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                    -ms-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                    transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                    opacity: 1;
                                "
            alt=""
            class="cta-btn-discord"
          />
          <div
            style="
                                    -webkit-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                    -moz-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                    -ms-transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                    transform: translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);
                                "
            class="cta-text"
          >
            Join our Telegram
          </div>
        </a>
      </div>
    </div>
    <div data-w-id="d610fcf5-bc87-30e0-e3a5-03a5a68ec89f" class="hero-right-2">
      <img src="assets/wikicat-anim.gif">
      <!--                    <video src="assets/sapa-animated.webm" autoplay preload="auto" loop></video>-->
    </div>
  </div>
</div>
<div id="features" class="features">
  <div class="section-wrapper">
    <h1 class="section-title">Features</h1>
    <div class="horizontal-row">
      <div data-w-id="590b811d-b347-c323-d1bc-24f6ad698eeb" class="card glasscard">
        <div class="card-top">
          <img src="assets/bolt.svg" loading="lazy" alt="" class="image-8" />
          <h1 class="feature-title">Fair Launch</h1>
        </div>
        <div class="card-description">
          We launched for everyone, making all tokens available. Our Wiki Cat token is available for everyone on PancakeSwap V2.


        </div>
      </div>
      <div data-w-id="e2df0bbd-77ed-0e52-126e-1aba16727b4e" class="card glasscard">
        <div class="card-top">
          <img src="assets/bolt.svg" loading="lazy" alt="" class="image-8" />
          <h1 class="feature-title">Liquidity 🔒</h1>
        </div>
        <div class="card-description">
          The liquidity pool is currently <a href="{{LockedLiquidity}}" target="_blank">locked</a> (<strong>100%</strong>) <strong>forever</strong> to begin. We have renounced contract ownership, no dangerous function is hidden anywhere.
        </div>
      </div>
      <div data-w-id="40384513-7486-f314-2e23-677fe36bbc46" class="card glasscard">
        <div class="card-top">
          <img src="assets/bolt.svg" loading="lazy" alt="" class="image-8" />
          <h1 class="feature-title">Community Driven</h1>
        </div>
        <div class="card-description">
          We have a strong community, born ready to fight against poverty.
        </div>
      </div>
    </div>
  </div>
</div>
<div id="tokenomics" class="tokenomics">
  <div class="section-wrapper">
    <h1 class="section-title">Tokenomics</h1>
    <div class="horizontal-row">
      <div data-w-id="57b5be93-3b51-4060-b8f8-869619b3a7ec" class="card glasscard">
        <div class="card-top">
          <img src="assets/material-storage.svg" loading="lazy" alt="" class="image-8" />
          <h1 class="feature-title">1% Slippage<br /></h1>
        </div>
        <div class="card-description">

          We are the only token that accepts <span class="boldtext">1%</span> slippage since we want to allow the community to withdraw and deposit easily, as a community first token.
        </div>
      </div>

      <div data-w-id="57b5be93-3b51-4060-b8f8-869619b3a7fa" class="card glasscard">
        <div class="card-top">
          <img src="assets/simple-googleanalytics.svg" loading="lazy" alt="" class="image-8" />
          <h1 class="feature-title">Project Funds Wallet</h1>
        </div>
        <div class="card-description">
          <span class="boldtext">1%</span> is added to the liquidity pool and the team wallet this allows the team to update the website and run marketing promotions.<br />
          <br />
        </div>
      </div>
    </div>
  </div>
</div>
<section id="roadmap" class="roadmap">
  <div class="container w-container">
    <div class="content-block">
      <div class="steps-clone">
        <h1 class="section-title roadmap-title">Roadmap</h1>
        <div class="div-block">
          <div class="div-block-2">
            <div class="text-block-4">
              <strong class="bold-text-4">Note</strong>: We are determined to follow through each project listed, within their given timeframes.
            </div>
          </div>
        </div>
        <div class="step-block">
          <div class="dot"></div>
          <div class="content-wrap">
            <div class="step-content-block">
              <div class="step glasscard">
                <div class="text-block-3">
                  <div class="label">Phase 1</div>
                  <div class="content">
                    <div class="heading"></div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Wiki Cat launch</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">500 holders</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">2000 wallet Transactions</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Website launch</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Contract Auditing by solidity finance</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">1000 organic telegram members</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Creation of our Chinese community and <br>Turkish community</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">White paper creation</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Road map creation </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-shadow"></div>
            </div>
          </div>
        </div>
        <div class="step-block">
          <div class="scoll-wrap">
            <div class="scroll-animate"></div>
            <div class="scroll-base"></div>
          </div>
          <div class="content-wrap">
            <div class="step-content-block">
              <div class="step glasscard">
                <div class="text-block-3">
                  <div class="label">
                    Phase 2
                  </div>
                  <div class="content">
                    <div class="heading"></div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Coin gecko listing</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">5000 telegram members</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">2000 holders </div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Creation of donation wallet</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Listing on a centralised exchange</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dot"></div>
        </div>
        <div class="step-block">
          <div class="dot"></div>
          <div class="content-wrap">
            <div class="step-content-block">
              <div class="step glasscard">
                <div class="text-block-3">
                  <div class="label">
                    Phase 3
                  </div>
                  <div class="content">
                    <div class="heading"></div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">20000 telegram members</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">12000 holders</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Large influencer marketing</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Project review</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Website redesign</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Meme development</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-shadow"></div>
            </div>
          </div>
          <div class="scoll-wrap">
            <div class="scroll-animate"></div>
            <div class="scroll-base"></div>
          </div>
        </div>
        <div class="step-block">
          <div class="dot"></div>
          <div class="content-wrap">
            <div class="step-content-block">
              <div class="step glasscard">
                <div class="text-block-3">
                  <div class="label">
                    Phase 4
                  </div>
                  <div class="content">
                    <div class="heading"></div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">70000 holders</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">100000 telegram members</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Launch of wiki cat Market website</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Launch of wiki cat app</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Increase marketing</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Partnership announcement </div>
                    </div>
                    <div class="div-block-3 longtext">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Road map review</div>
                    </div>
                    <div class="div-block-3 longtext">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Listing on a centralised exchange</div>
                    </div>
                    <div class="div-block-3 longtext">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Market analysis for the future</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-shadow"></div>
            </div>
          </div>
          <div class="scoll-wrap">
            <div class="scroll-animate"></div>
            <div class="scroll-base"></div>
          </div>
        </div>
        <div class="step-block">
          <div class="scoll-wrap">
            <div class="scroll-animate"></div>
            <div class="scroll-base"></div>
          </div>
          <div class="content-wrap">
            <div class="step-content-block">
              <div class="step glasscard">
                <div class="text-block-3">
                  <div class="label">
                    Phase 5
                  </div>
                  <div class="content">
                    <div class="heading"></div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">200000 holders</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">More memes from Community</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">$120k total donation for funding defi and <br>crypto education in identified regions</div>
                    </div>

                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">Listing on major top CEX</div>
                    </div>
                    <div class="div-block-3">
                      <img src="assets/bolt.svg" loading="lazy" width="25" alt="" class="image-9" />
                      <div class="text-block-5">
                        <div class="text-block-5">
                          Launch of wiki cat exchange
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="bg-shadow"></div>
            </div>
          </div>
          <div class="dot"></div>
        </div>
      </div>
    </div>
  </div>
</section>
