<nav role="navigation" class="nav-menu w-nav-menu">
  <a routerLink="/" aria-current="page" class="nav-link-4 w-nav-link w--current">Home</a>
  <div data-hover="1" data-delay="0" class="dropdown w-dropdown">
    <div class="dropdown-toggle-2 w-dropdown-toggle">
      <div class="icon-4 w-icon-dropdown-toggle"></div>
      <div class="text-block-17">About Token</div>
    </div>
    <nav class="navigation-dropdown w-dropdown-list">
      <div class="dropdown-pointer">
        <div class="dropdown-wrapper">
          <a href="#features" class="dropdown-link glasscard w-inline-block">
            <div class="nav-content-wrap"><div class="dropdown-title">Features</div></div>
          </a>
          <a href="#tokenomics" class="dropdown-link glasscard w-inline-block">
            <div class="nav-content-wrap"><div class="dropdown-title">Tokenomics</div></div>
          </a>
          <a href="#roadmap" class="dropdown-link glasscard w-inline-block">
            <div class="nav-content-wrap"><div class="dropdown-title">Roadmap</div></div>
          </a>
          <a href="#faqsection" class="dropdown-link glasscard w-inline-block">
            <div class="nav-content-wrap"><div class="dropdown-title">FAQ</div></div>
          </a>
        </div>
      </div>
    </nav>
  </div>
  <a routerLink="/how-to-buy" class="nav-link-5 w-nav-link">How to buy</a>
  <div data-hover="1" data-delay="0" class="dropdown w-dropdown">
    <div class="dropdown-toggle-2 w-dropdown-toggle">
      <div class="icon-4 w-icon-dropdown-toggle"></div>
      <div class="text-block-17">Links</div>
    </div>
    <nav class="navigation-dropdown w-dropdown-list">
      <div class="dropdown-pointer">
        <div class="dropdown-wrapper">
          <a href="https://bscscan.com/token/{{contract}}" target="_blank" class="dropdown-link glasscard w-inline-block">
            <div class="nav-content-wrap"><div class="dropdown-title">Contract 📝</div></div>
          </a>

          <a href="{{chart}}" target="_blank" class="dropdown-link glasscard w-inline-block">
            <div class="nav-content-wrap"><div class="dropdown-title">Chart 📈</div></div>
          </a>

        </div>
      </div>
    </nav>
  </div>
  <a data-w-id="4d008856-22a6-57cb-2792-3ecce65f2c63" href="{{pancakeSwap}}" class="cta-btn cta-nav gradient w-inline-block">
    <img src="https://uploads-ssl.webflow.com/609200e5f1f70a5699a8f30f/6095daaf363b03298fc7b5e1_buynowicon.svg" loading="lazy" alt="" class="cta-icon-buynow" />
    <div class="cta-text">Buy Now</div>
  </a>
</nav>
